recursive-include opensesame_resources *
recursive-include opensesame_plugins *
recursive-include opensesame_extensions *
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.hidden
global-exclude *~
