recursive-include opensesame_resources *
recursive-include opensesame_plugins *
recursive-include opensesame_extensions *
recursive-include mime *
include opensesame
include readme.md
include opensesamerun
include setup_shared.py
exclude opensesame_resources/templates/eco_alt_template.osexp
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.hidden
global-exclude *~
