* {
	font-family: sans-serif;
	line-height: 150%%;
	color: #263238;
}

body {
	margin: 0px;
	padding: 12px;
}

table tr td {
	vertical-align: top;
	padding-right: 36px;
}

a {
	color: #01579B;
}

a:hover {
	color: #FF5722;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	color: #ffffff;
	height: 48px;
	background: url("file://%(background_image)s") no-repeat top right;
	color: #01579b;
}

h2 {
	border-bottom: dotted 1px #01579b;
	font-size: 1.5em;
	font-weight: normal;
	color: #01579b;
}

.highlight span, code, pre {
	font-family: "Droid Sans Mono", monospace, "Courier New"!important;
	word-wrap: break-word;
}

.important-button,
.dismiss-button,
.button {
	display: inline-block;
	color: #2e3436;
	padding: 4px 8px 4px 8px;
	margin: 4px 0px 4px 0px;
	text-decoration: none;
	border-radius: 4px;
}

.dismiss-button:hover,
.important-button:hover,
.button:hover {
	color: #2e3436;
}

.button {
	background-color: #CFD8DC;
}

.button:hover {
	background-color: #B0BEC5;
}

.dismiss-button {
	color: #ffffff;
	background-color: #43A047;
}

.dismiss-button:hover {
	color: #ffffff;
	background-color: #388e3c;
}

.important-button {
	background-color: #0277bd;
	color: #ffffff;
}

.important-button:hover {
	color: #ffffff;
	background-color: #01579b;
}

.footer {
	color: #555753;
	font-size: 0.8em;
	border-top: solid 1px #555753;
	float: right;
}
