* {
	font-family: 'Ubuntu', sans-serif;
	line-height: 150%;
	color: #2e3436;
}

a {
	color: #3465a4;
}

a:hover {
	color: #f57900;
}

h1 {
	border-bottom: dotted 1px #3465a4; 
	font-size: 1.5em;
	color: #3465a4
}

h2 {
	border-bottom: dotted 1px #3465a4; 
	font-size: 1.1em;
	color: #3465a4;
}

code, pre {
	font-family: "Courier New", monospace;
}