* {
	font-family: 'Ubuntu', sans-serif;
	line-height: 150%%;
	color: #2e3436;
}

body {
	margin: 0px;
	padding: 12px;
	background: url("file://%(background_image)s") no-repeat top right;
}

table tr td {
	vertical-align: top;
	padding-right: 36px;
}

a {
	color: #3465a4;
}

a:hover {
	color: #f57900;
}

h1 {
	border-bottom: dotted 1px #3465a4;
	font-size: 2em;
	font-weight: normal;
	color: #3465a4
}

h2 {
	border-bottom: dotted 1px #3465a4;
	font-size: 1.5em;
	font-weight: normal;
	color: #3465a4;
}

.highlight span, code, pre {
	font-family: "Droid Sans Mono", monospace, "Courier New"!important;
	word-wrap: break-word;
}

.important-button,
.dismiss-button,
.button {
	display: inline-block;
	color: #2e3436;
	padding: 4px 8px 4px 8px;
	margin: 4px 0px 4px 0px;
	text-decoration: none;
	border-radius: 4px;
}

.dismiss-button:hover,
.important-button:hover,
.button:hover {
	color: #2e3436;
}

.button {
	background-color: #eeeeec;
	border: solid 1px #888a85;
}

.button:hover {
	background-color: #d3d7cf;
}

.dismiss-button {
	border: solid 1px #3a7404;
	color: #ffffff;
	background-color: #4e9a06;
}

.dismiss-button:hover {
	color: #ffffff;
	background-color: #3a7404;
}

.important-button {
	border: solid 1px #204a87;
	background-color: #3465a4;
	color: #ffffff;
}

.important-button:hover {
	color: #ffffff;
	background-color: #204a87;
}

.footer {
	color: #555753;
	font-size: 0.8em;
	border-top: solid 1px #555753;
	float: right;
}
