Source: opensesame
Section: science
Priority: extra
Maintainer: Sebastiaan Mathot <s.mathot@cogsci.nl>
Uploaders: Michael Hanke <mih@debian.org>
Build-Depends: debhelper (>= 7.0.50~), python-support
XS-Python-Version: >= 2.6
Standards-Version: 3.9.1
Homepage: http://www.cogsci.nl/software/opensesame

Package: opensesame
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python-qt4, python-pygame, python-numpy
Description: OpenSesame is a graphical experiment builder
 [please add me]
