[Desktop Entry]
Name=OpenSesame
GenericName=Experiment Builder
Comment=Graphical experiment builder for the social sciences
TryExec=opensesame
Exec=opensesame
Icon=applications-science
Type=Application
Categories=Development;IDE;Science
StartupNotify=true
